.headline{
    font-weight: 300;
    font-size: 1.7rem;
    color: #2f5572;
}
.headline--center{
    text-align: center;
}
.headline--orange{
    color: orange;
}
.headline--small{
    font-size: 1.1rem;
}
.headline--narrow{
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;
}
.headline-light{
    font-weight: 100;
}
.headline--b-margin-small{
    margin-bottom: .5em;
}
.headline--b-margin-large{
    margin-bottom: 1.6em;
}
@media  (min-width: 800px){
    .headline--no-t-margin{
    margin-top: 0;
    }
}