
@media  (min-width: 900px){
    .section-title{
        font-size: 3.75rem;
    }
    
}
.section-title{
        font-size: 2.75rem;
        font-weight: 300;
        text-align: center;
        strong{
            font-weight: 500;
        }
}
.section-title__icon{
    margin-right: .6rem;
}
